<h1>Class：<%= params["class"] %></h1>
<% case params["class"] %>
<% when "Chat" %>
    <%= form_tag update_path(:class => params["class"]) do %>
        <table>
            <tr>
                <th>chatGroupId</th><th>isGroup</th><th>message</th>
            </tr>
            <tr>
                <td><%= text_field_tag "chatGroupId", @obj.chatGroupId %></td>
                <td><%= text_field_tag "isGroup", @obj.isGroup %></td>
                <td><%= text_field_tag "message", @obj.message %></td>
            </tr>
        </table>
        <%= submit_tag("編集") %>
    <% end %>
<% when "Domain" %>
    <%= params["msg"] %>
    <%= form_tag update_path(:class => params["class"]) do %>
        <table>
            <tr>
                <th>ドメイン</th><th>大学名（正式名称）</th><th>大学名（略称）</th><th>都道府県</th>
            </tr>
            <tr>
                <td><%= text_field_tag "domain", @obj.domain %></td>
                <td><%= text_field_tag "collage", @obj.collage %></td>
                <td><%= text_field_tag "shortenCollege", @obj.shortenCollege %></td>
                <td><%= text_field_tag "prefecture", @obj.prefecture %></td>
            </tr>
        </table>
        <%= hidden_field_tag "objectId", params["id"] %>
        <%= submit_tag("編集") %>
    <% end %>
<% else %>
    <%= params["class"] %>
<% end %>