<%= current_admin.level %>
<%= link_to "Sign out", destroy_admin_session_path, method: :delete %><br>

<%= link_to "チャット", autho_chat_path %><br>

<% if params["class"].blank? %>
    <%= form_tag autho_path, method: :get do %>
        <%= select_tag 'class', options_for_select(@option, 1), include_blank: true %>
        <%= submit_tag("選択") %>
    <% end %>
<% else%>
    <h1>Class：<%= params["class"] %></h1>
    <%= form_tag autho_path, method: :get do %>
        <%= select_tag 'class', options_for_select(@option, params["class"]), include_blank: false %>
        <%= submit_tag("選択") %>
    <% end %>
    <hr>
        <%= params["class"] %>の編集ページは製作中です。
<% end %>