
<div class="chat-main">
    <% @chats.each do |c| %>
        <div class="chat">
            <% if c.sentUserId == "sapo-to" %>
                <div class="my-chat">
                    <div class="message"">
                        <%= c.message %>
                    </div>
                    <p>
                        <%=  c.createDate %>
                    </p>
                </div>
            <% else %>
                <div class="your-chat">
                    <div class="message">
                        <%= c.message %>
                    </div>
                    <p>
                        <%= @student.userName %><br>
                        <%=  c.createDate %>
                    </p>
                </div>
            <% end %>
        </div>
    <% end %>
    <%= form_tag autho_chat_support_send_path, class:"chat-form" do %>
        <%= text_field_tag "message","", style:"width: 19vw;" %>
        <%= hidden_field_tag "chatRoomId", "user-" + @student.userId %>
        <%= hidden_field_tag "id", @student.objectId %>
        <%= submit_tag "送信", style:"width: 5vw;" %>
    <% end %>
</div>