<%= params["msg"] %>
<%= form_tag autho_domain_update_path do %>
    <%= hidden_field_tag "id", @id %>
    <table>
        <tr>
            <th>ドメイン</th><th>大学名（正式名称）</th>
        </tr>
        <tr>
            <td><%= text_field_tag "dom", @domain %></td>
            <td><%= text_field_tag "collage", @collage %></td>
        </tr>
    </table>
    <%= submit_tag("編集") %>
<% end %>

<br><br>

<div style="float: left; width: 40vw;">
    <table>
        <% @prefecture.each do |p| %>
            <tr><td><%= link_to p.prefecture, autho_domain_select_path(:p => p.objectId)%></td></tr>
        <% end %>
    </table>

    <br><br>
    <%= link_to "都道府県を追加", autho_domain_select_path(:d => @id) %>
</div>

<div style="float: left; width: 40vw;">
    <table>
        <% @shorten.each do |s| %>
            <tr><td><%= link_to s.shortenName, autho_domain_shorten_path(:d_id => @id ,:s_id => s.objectId)%></td></tr>
        <% end %>
    </table>

    <br><br>
    <%= link_to "略称を追加", autho_domain_shorten_path(:d_id => @id) %>
</div>