<select name="cont" onChange="location.href=value;">
    <option value="/autho/limitation"> ---選択--- </option>
<% @controllers.each do |c| %>
    <option value="/autho/limitation?cont=<%= c %>"<%= " selected" if params["cont"] == c %>> <%= c %> </option>
<% end %>
</select>
<% if params["cont"].blank? %>
    <%= link_to "+", autho_limitation_new_path %>
<% else %>
    <%= link_to "+", autho_limitation_new_path(:controller_name => params["cont"] ) %>
<% end %>

<table>
    <tr>
        <th>コントローラー</th><th>アクション</th><th>詳細</th><th>編集</th><th>ページに移動</th>
    </tr>
    <% @ca_lists.each do |c| %>
        <tr>
            <td><%= c.controller_name %></td>
            <td><%= c.action_name %></td>
            <td><%= link_to "詳細ページへ", autho_limitation_show_path(:id => c.id) %></td>
            <td><%= link_to "編集ページへ", autho_limitation_edit_path(:id => c.id) %></td>
            <td><%= link_to c.path_name, c.path_name %></td>
        </tr>
    <% end %>
</table>