<header style="<%= @concept_color %> width: 100vw;">
    <div style="width: 100vw; height: 5vh; <%= @concept_color %>">
        <nav style="width: 100vw;">
            <ul style="list-style: none; float: left;">
                <li style="float: left; padding: 1rem;"><%= link_to "ルームに戻る", autho_chat_admin_room_path(:id => params["id"]), style: @base_color + 'text-decoration: none;' %></li>
            </ul>
        </nav>
    </div>
</header>

<table>
    <tr>
        <th>名前</th><th>メールアドレス</th><th>権限</th>
        <% if current_admin.subadmin and params["id"] != "2" %>
            <th></th>
        <% end %>
    </tr>
    <% @admins.each do |a| %>
        <tr>
            <td><%= a.name %></td>
            <td><%= a.email %></td>
            <td><%= a.level %></td>
            
            <% if AdminGroup.find(params["id"].to_i).isSpecial %>
                <% if current_admin.subadmin and params["id"] != "2" %>
                    <% if a.subadmin %>
                        <td></td>
                    <% else %>
                        <td><%= link_to "追放", autho_chat_admin_room_members_path(:room_id => params["id"], :admin_id => a.id), method: :post %></td>
                    <% end %>
                <% end %>
            <% else %>
                <% if a.admin %>
                    <td></td>
                <% elsif a.subadmin %>
                    <% if current_admin.admin %>
                        <td><%= link_to "追放", autho_chat_admin_room_members_path(:room_id => params["id"], :admin_id => a.id), method: :post %></td>
                    <% else %>
                        <td></td>
                    <% end %>
                <% else %>
                    <% if current_admin.admin_level >= 10 and current_admin.admin_level > a.admin_level %>
                        <td><%= link_to "追放", autho_chat_admin_room_members_path(:room_id => params["id"], :admin_id => a.id), method: :post %></td>
                    <% else %>
                        <td></td>
                    <% end %>
                <% end %>
            <% end %>
        </tr>
    <% end %>
</table>