<p id="notice"><%= notice %></p>

<p>
  <strong>Objectid:</strong>
  <%= @region.objectId %>
</p>

<p>
  <strong>Name:</strong>
  <%= @region.name %>
</p>

<%= link_to 'Edit', edit_region_path(@region.objectId) %> |
<%= link_to 'Back', regions_path %>

<br><br>

<h1>Prefectures</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @prefectures.each do |prefecture| %>
      <tr>
        <td><%= prefecture.name %></td>
        <td><%= link_to 'Show', prefecture_path(prefecture.objectId) %></td>
        <td><%= link_to 'Edit', edit_prefecture_path(prefecture.objectId) %></td>
        <td><%# link_to 'Destroy', prefectures_path(prefecture.objectId), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Prefecture', new_prefecture_path(:r_id => @region.objectId) %>
