<table>
    <% @reports.each do |r| %>
        <tr>
            <td><%= r.class_name %></td>
            <td><%= r.object_id %></td>
            <td><%= r.user_id %></td>
        </tr>
    <% end %>
</table>

<table>
    <% @users.each do |u| %>
        <tr>
            <td><%= u.userId %></td>
            <td><%= u.role %></td>
        </tr>
    <% end %>
</table>